@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$eigengrau: #16161d;
$darkgray: #2c3333;
$murky: #2e4f4f;
$teal: #0e8388;
$lightgray: #cbe4de;

html {
  &::-webkit-scrollbar {
    width: 12px;
    &-thumb {
      border-radius: 20px;
      background-color: $lightgray;
    }
    &-track {
      background: $darkgray;
    }
  }
}

body {
  font-size: 16px;
  color: white;
  background: $eigengrau; // Eigengrau
  font-family: Poppins;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1600px;
  justify-content: center;
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

article {
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  background: lighten($eigengrau, 10%);
  transition: filter 0.5s ease;
  img {
    padding: 1rem;
    background: white;
    border-radius: 6px 6px 0 0;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .item-content {
    padding: 1rem;
    &::before {
      content: '';
      display: block;
      height: 4px;
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-top: -12px;
      background: white;
    }
    p {
      word-break: break-word;
    }
  }
  .cartBtn {
    margin: auto 0 0;
    color: $lightgray;
    background: $murky;
    &:hover {
      background: $teal;
    }
  }
}

.grid:hover article:not(:hover) {
  filter: blur(1px) !important;
}

// notes
// article = parent
// img-wrapper = child
