@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$eigengrau: #16161d;
$darkgray: #2c3333;
$murky: #2e4f4f;
$teal: #0e8388;
$lightgray: #cbe4de;

* {
  &::-webkit-scrollbar {
    width: 12px;
    &-thumb {
      border-radius: 20px;
      background-color: $lightgray;
    }
    &-track {
      background: $darkgray;
    }
  }
}

body {
  font-size: 16px;
  color: white;
  background: $eigengrau; // Eigengrau
  font-family: Poppins;
}

main {
  margin: 0 auto;
  max-width: 100%;
  width: min-content;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  max-width: 1600px;
  justify-content: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  article {
    opacity: 0.8;
    display: flex;
    max-width: 90vw;
    border-radius: 6px;
    flex-direction: column;
    transition: opacity 0.25s ease;
    background: lighten($eigengrau, 10%);

    &:hover {
      opacity: 1;
    }

    img {
      padding: 1rem;
      aspect-ratio: 1/1;
      background: white;
      object-fit: contain;
      border-radius: 6px 6px 0 0;
    }

    .item-content {
      padding: 1rem;

      &::before {
        content: '';
        height: 4px;
        display: block;
        margin-top: -12px;
        margin-left: -1rem;
        background: white;
        width: calc(100% + 2rem);
      }

      p {
        word-break: break-word;
      }
    }

    .add-cart-btn {
      margin: auto 0 0;
      color: $lightgray;
      background: $murky;

      &:hover {
        background: $teal;
      }
    }
  }
}

button.cart-btn {
  z-index: 2;
  right: 10px;
  width: 64px;
  height: 64px;
  position: fixed;
  background: #000c;
  border-radius: 100vmax;
  box-shadow: 0 0 5px 1px rgba($lightgray, 10%);

  &:hover {
    background: #fffc;
    box-shadow: 0 0 5px 1px rgba($darkgray, 10%);

    svg {
      color: $eigengrau;
    }
  }

  svg {
    color: white;
  }
}

.cart {
  width: 500px;
  padding: 20px;

  &-item {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid $lightgray;

    .details {
      width: 100%;
      display: flex;
      max-width: 300px;
      flex-direction: column;
      justify-content: space-between;
    }

    .information {
      width: 300px;
      display: flex;
      justify-content: space-between;
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      button {
        span {
          font-size: 2rem;
        }
      }
    }

    img {
      width: 163px;
      object-fit: cover;
      object-position: left;
      border-radius: 2px;
    }
  }
}

.drawer .MuiDrawer-paper {
  color: white;
  background: $eigengrau;
}
